
* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url("file:///C:/Windows/WinSxS/amd64_microsoft-windows-shell-wallpaper-themed_31bf3856ad364e35_10.0.22000.1_none_2d1916daa9bc20db/img33.jpg");
	font-family: Poppins;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}
.navbar ul{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
} 
    


.navbar ul li a {
	text-decoration: none;
	color: #fff;
	padding: 1.5rem;
	font-weight: bold;
	transition: all .4s ease;
}

.header {
	background: deepskyblue;
	overflow: hidden;
}
.navbar {
	display: grid;
	grid-template-columns: 6fr 6fr;
	align-items: center;
	width: 1100px;
	margin: auto;
	text-shadow: currentColor;
}
.navbar img {
	width: 200px;
	height: auto;

}
.navbar ul li a:hover{
	color: #124
	background:#fff;

}